In [11]:
# Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
# Importing matplotlib to show graphical representation of the attributes
import matplotlib.pyplot as plt
# to ignore/remove warnings
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

In [9]:
df = pd.read_csv("JOB-PostData.csv")
df.head()

,link-href,job_title,company_name,discription,salary,job_type,date,python,sql,R,java,javascript,html,C,C#,sas,Bachelors,Masters,Phd
0,https://uk.indeed.com/rc/clk?jk=f5433fbb63f273...,"Analyst, Quantitative Researcher - FX Systemat...",Goldman Sachs,GLOBAL MARKETS \n Our core value is building ...,NaN,NaN,month ago,True,False,False,True,False,True,False,False,False,False,False,False
1,https://uk.indeed.com/rc/clk?jk=160e7785918180...,Research Science Analyst - Finalta,McKinsey & Company,Who You'll Work With \n \n \n You’ll ...,NaN,NaN,month ago,False,False,False,False,False,False,False,False,False,False,False,False
2,https://uk.indeed.com/company/British-Antarcti...,Scientific Data Assistant (10 weeks),British Antarctic Survey,Background/Overview: \nBritish Antarctic Surve...,"From £25,702 a year",#NAME?,month ago,False,True,False,False,False,False,False,False,False,False,False,False
3,https://uk.indeed.com/rc/clk?jk=d90667d1f03b0c...,Research Ecologist - Data analysis and modelling,British Trust for Ornithology,Research Ecologist- Population data analysis a...,"£25,828 - £27,263 a year",#NAME?,27/10/2022,False,False,True,False,False,False,False,False,True,False,False,True
4,https://uk.indeed.com/rc/clk?jk=4c25007318fbe6...,"Associate, Statistical Arbitrage Quantitative ...",Goldman Sachs,Our core value is building strong relationship...,NaN,NaN,month ago,False,False,False,False,False,True,False,False,False,False,False,False